.login {
  margin-top: 180px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.wrapForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 35px;
  line-height: 29px;
  color: #fff;
  margin: 0;
}

.input {
  width: 480px;
  background-color: initial;
  border: 0;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  padding: 13px 0;
  color: #fff;
}

.input::placeholder {
  color: #8585ad;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

input:focus-visible {
  outline: none;
}

/* .input:focus {
  border: 0;
  border-bottom: 2px solid #4c4cff;
} */

.button {
  border: none;
  border-radius: 64px;
  cursor: pointer;
  outline: none;
  padding: 16px 40px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: #3a3a55;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.text {
  color: #8585ad;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.textLink {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
}
